.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter-todo {
  width: 4rem;
  padding: 6px;
  cursor: pointer;
}
.completed{
  text-decoration: line-through;
  opacity: 0.5;
}



/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  pointer-events: none;
}

.myLiStyle{
  width: 30rem;
  height:3rem;
}

.myLiStyle1{
  width: 27rem;
}

@media screen and (max-width:700px) {
  .singletodo {
      width:28rem;
    }
    .myLiStyle{
      width: 20rem;
      height:3rem;
  }
  .myLiStyle1{
    width: 20rem;
}
}
@media screen and (max-width:450px) {
  .singletodo {
      width:18rem;
    }
    .myLiStyle{
      width: 13rem;
      height:3rem;
  }
  .myLiStyle1{
    width: 8rem;
}
}